<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 4d267b892c2a6090e4a84f0c96208c1fc36451b1
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD
=======
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> dd1c16f2a44a05716328343ccf12e9e61e8798b2
>>>>>>> 4d267b892c2a6090e4a84f0c96208c1fc36451b1
